* {
    box-sizing: border-box;
}
body{
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}
#main-menu a{
	font-size: 20px;
	color: #737373;
	text-decoration: none;
	text-align: center;
	margin: 30px;

}
#main-menu a:hover,#main-menu a.active{
	color: black;
}
#main-menu a.active{
	font-weight: bold;
}
img{
	width:100%;

}
.box1 {
	float: left;
	padding: 15px;
	width: 100%;
	border: 1px solid #dddddd;
	border-top-width: 0px;
	background-color: yellow;
	text-align: center;
	margin-right: 23%;

}


.box-img{
	float: left;
	/*margin-top: 20px;*/
	margin-top: 10px;
	margin-bottom: 40px;
	width: 100%;
 	height: 250px;
	
}

.box-img a{
	float: left;
	width: 18%;
	margin-left: 2%;
}
.box-img p{
	text-align: center;

}
#sp p{
	float: left;
	margin-left: 25%;
}